<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Virtual Assistance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Registration">
        <activity
            android:name=".ViewInfoVol"
            android:exported="false" />
        <activity
            android:name=".ViewInfo"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".PersonalDetails"
            android:exported="false" />
        <activity
            android:name=".VolunteerEducationalDetails"
            android:exported="false" />
        <activity
            android:name=".StudentEducationalDetails"
            android:exported="false" />
        <activity
            android:name=".VolunteerDashboard"
            android:exported="false" />
        <activity
            android:name=".VolunteerEligibilityTest"
            android:exported="false" />
        <activity
            android:name=".VolunteerTasks"
            android:exported="false" />
        <activity
            android:name=".VolunteerRequests"
            android:exported="false" />
        <activity
            android:name=".VolunteerVerification"
            android:exported="false" />
        <activity
            android:name=".StudentFillexamdetails"
            android:exported="false" />
        <activity
            android:name=".StudentSearchVolunteer"
            android:exported="false" />
        <activity
            android:name=".StudentTasks"
            android:exported="false" />
        <activity
            android:name=".StudentVerification"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".StudentRegister"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".VolunteerRegister"
            android:exported="true" />
        <activity
            android:name=".LOGO"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>